.app__content {
  display: flex;
  width: 80%;
  gap: 4rem;
}

.app__aboutus-content {
  width: 100%;
}

.app__aboutus-content_about {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  flex-direction: column;
}

.app__aboutus-content_about p {
  margin: 2rem 0;
  color: var(--color-grey);
}

.app__content img:nth-child(1) {
  width: 500px;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 900px) {
  .app__content {
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .app__aboutus-content_about {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
  }
  .app__aboutus-overlay {
    display: flex;
    justify-content: center;
  }
  .app__aboutus-overlay img {
    width: 100% !important;
  }
}
